  body::after {
    content: "";
    position: fixed;
    background-image: url("images/yellow-fish.png");
    background-repeat: no-repeat;
    z-index: -3;
    width: 300px;
    height: 200px;
    top: 150px;
    left: 0;
    animation: slidefish 8s forwards infinite;
    overflow: hidden;
  }

  .extra2 {
    background-image: url("images/blue-fish.png");
    background-repeat: no-repeat;
    z-index: 3;
    position: fixed;
    animation: slidefish 10s reverse infinite;
    width: 200px;
    height: 200px;
    left: -100px;
    top: 300px;
    overflow: hidden;
  }

  @keyframes slidefish {
    0% {
      left: -400px;
    }

    25% {
      left: 400px;
    }

    50% {
      left: 800px;
    }

    100% {
      left: 2000px;
    }
  }

  // png bubbles
  .extra4 {
    position: absolute;
    background-image: url("images/bubbles.png");
    background-repeat: no-repeat;
    z-index: -5;
    animation: animatebubble 5s linear reverse infinite;
    width: 500px;
    height: 500px;
    left: 100px;
  }

  // svg bubbles
  .extra6 {
    position: absolute;
    left: 650px;
    width: 500px;
    height: 500px;
    opacity: 0.2;
    background-image: url("images/bubbles.svg");
    background-repeat: no-repeat;
    animation: animatebubble 3s linear reverse infinite;
    transform: scale(0.9);
    z-index:-3;
  }

  @keyframes animatebubble {
    0% {
      top:0px;opacity:0.6; 
    }

    100% {
      top: 300px;opacity:0;
    }
  }

