@media only screen and (min-width: 61rem) {
  @import "animationfish";
  @import "LargeTitleAnimation";

  body {
    padding: 5px;
    max-width: 80rem;
    position: relative;
    background: url(images/darker-ocean.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: white;
  }

  h3 {
    padding: 0px;
  }

  .page-wrapper {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 200px repeat(9, auto);

    &::before {
      content: "";
      position: absolute;
      background-image: url("images/new-tv.png");
      background-repeat: no-repeat;
      z-index: 3;
      top: 216px;
      left: 17%;
      width: 650px;
      height: 567px;
      transform: scale(0.8)
    }
  }

  .intro {
    grid-column: 1 / 4;
    grid-row: 1 / 11;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 200px repeat(9, auto);
    margin-left: 1em;

    header {
      grid-column: 1 / 3;
      grid-row: 1 / 3;

      h1 {
        font-size: 6em;
      }

      h2 {
        font-size: 2em;
        color: darken($color-1, 5%);
      }
    }
  }

  .summary,
  .preamble {
    font-size: smaller;
    margin: 0 .5em;
  }

  .summary {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding-right: 2em;

    p:first-child {
      margin-top: 0;
    }
  }

  .preamble {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .supporting {
    position: absolute;
    left: 26%;
    top: 130px;
    width: 425px;
    z-index: 1;
    height: 280px;
    padding-left: 25px;
    overflow: hidden;
    margin-top: 10em;

    h3 {
      padding-top: .5em;
      margin: .5em;
    }

    div {
      color: darken($color-1, 5%);
      padding: 10px 50px;

      &:first-of-type {
        padding-top: 30px;
      }

      &:last-of-type {
        padding-bottom: 50px;
      }
    }
  }

  .explanation {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: lighten($color-1, 45%);
    animation: zchange 60s ease-in-out infinite;

    p:nth-child(2)::after {
      display: none;
    }
  }

  @keyframes zchange {
    0% {
      margin-top: 0px;
    }

    50% {
      margin-top: -2040px;
    }

    100% {
      margin-top: 0px;
    }
  }

  .participation {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: $color-2;

    p:nth-child(2)::after {
      display: none;
    }
  }

  .benefits {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: lighten($color-3, 18%);
  }

  .requirements {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: $color-4;

    a,
    .participation a {
      color: darken($color-3, 5%)
    }

    p:nth-child(2)::after {
      display: none;
    }
  }

  .participation h3,
  .benefits h3,
  .requirements h3 {
    color: darken($color-1, 5%);
  }

  footer {
    position: fixed;
    top: 550px;
    left: 71%;
    z-index: 500;
    justify-content: center;
    display: flex;
    transform: scale(0.8);

    a {
      background-color: #03a9f4;
      color: #FFFFFF;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 5px;
      background: linear-gradient(to top, #03a9f4, #2f5f63);
      border-radius: 50%;
      border: solid 1px #2f5f63;
      box-shadow: 4px 4px 0 #1b383b;
      text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
      width: 60px;

      &:focus {
        color: #013E75;
      }

      &:hover {
        color: $color-3;
        transform: scale(1.2);
        transition: .5s ease-in;
      }
    }
  }

  .sidebar {
    grid-column: 3 / 4;
    grid-row: 1 / 11;
    margin-top: 15em;
    padding-left: 0;
    font-size: small;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 0.7fr 1fr;
    align-items: start;
    text-align: left;
    font-size: smaller;
    line-height: 1.4;
  }

  .design-selection {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .design-archives {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .zen-resources {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
} /*end of media 61rem min*/

/* small tweaks in large view */
@media only screen {

  @media (min-width: 63.5rem) {
    .page-wrapper::before {
      left: 18%;
    }

    .supporting {
      left: 27%;
    }
  }

  @media (min-width: 66rem) {
    .page-wrapper::before {
      left: 20%;
    }

    .supporting {
      left: 28%;
    }
  }

  @media (min-width: 68.75rem) {
    .page-wrapper::before {
      transform: scale(.9);
    }

    .supporting {
      top: 100px;
      height: 310px;
    }
  }

  @media (min-width: 70.625rem) {
    .page-wrapper::before {
      left: 21.5%;
    }

    .supporting {
      left: 28%;
    }
  }

  @media (min-width: 76.5rem) {
    .page-wrapper::before {
      transform: scale(1.0);
      left: 24%;
    }

    .supporting {
      top: 80px;
      height: 330px;
      width: 500px;
      left: 27.5%;
    }
  }
}
