body {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(images/darker-ocean.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  color: white;
}

.sidebar {
  font-size: 12px;
}

.intro header h1,
.intro header h2 {
  text-align: center;
}

p {
  line-height: 140%;
}

.summary p:first-child {
  margin-top: 1.5em;
}

.wrapper {
  text-align: center;

  li {
    list-style-type: none;
  }

  ul {
    margin-top: 0.5em;
  }
}

@media only screen and (min-width : 20rem) {

  .intro header h1 {
    -webkit-text-stroke: 1px #03a9f4;
  }

  .sidebar,
  .sidebar h3 {
    text-align: right;
  }

  .intro,
  .supporting,
  .sidebar {
    padding: 1em 2em;
  }

  .wrapper {
    text-align: right;
  }

  .page-wrapper {
    display: block;
    padding: 2em 0;
  }

  h3 {
    padding: 1em;
    text-align: center;
  }

  footer::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/crab_PNG27.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 152px;
    left: 15px;
    transform: rotate(45deg);
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    margin-top: 18em;
    margin-left: 1.5em;
  }

  @keyframes swing {
    0% {
      transform: rotate(3deg);
    }

    100% {
      transform: rotate(-3deg);
    }
  }
}
