@import "colors";
@import "typography";
@import "title";
@import "footer";

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// media queries
@import "small";
@import "medium";
@import "large";

li {
  list-style-type: none;
}
