/*
body {
    background: darken($color-1, 5%);
    color: $color-5;
  }*/
/*Navigation colors*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;700;900&display=swap");
a {
  cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat710.cur), auto !important;
}

a:link,
a:visited {
  color: #E1B923;
  text-decoration: none;
}

a:hover {
  color: #D44013;
  border: 1px dotted #99CEDC;
}

a:focus,
a:active {
  color: #FFFFFF;
  background-color: #D44013;
  text-decoration: underline;
}

h3 {
  color: #E1B923;
  -webkit-animation: myh3 5s ease-in-out infinite;
          animation: myh3 5s ease-in-out infinite;
}

@-webkit-keyframes myh3 {
  from {
    color: #E1B923;
  }
  to {
    color: #D44013;
  }
}

@keyframes myh3 {
  from {
    color: #E1B923;
  }
  to {
    color: #D44013;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  color: #E1B923;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
}

h3 {
  font-size: 1.25em;
}

.intro header h1 {
  color: #E1B923;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#E1B923), color-stop(#FFFFFF), to(#E1B923));
  background: linear-gradient(90deg, #E1B923, #FFFFFF, #E1B923);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px #01315c;
}

.intro header h1, .intro header h2 {
  text-align: center;
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.main footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5em;
}

.main footer a {
  font-weight: bold;
  background-color: #03a9f4;
  color: #FFFFFF;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(#03a9f4), to(#2f5f63));
  background: linear-gradient(to top, #03a9f4, #2f5f63);
  border-radius: 50%;
  border: solid 1px #2f5f63;
  -webkit-box-shadow: 4px 4px 0 #1b383b;
          box-shadow: 4px 4px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  width: 80px;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.main footer a:hover {
  color: #D44013;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.main footer a:focus,
a:active {
  color: #013E75;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/darker-ocean.jpg) no-repeat center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/darker-ocean.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  color: white;
}

.sidebar {
  font-size: 12px;
}

.intro header h1, .intro header h2 {
  text-align: center;
}

p {
  line-height: 140%;
}

.summary p:first-child {
  margin-top: 1.5em;
}

.wrapper {
  text-align: center;
}

.wrapper li {
  list-style-type: none;
}

.wrapper ul {
  margin-top: 0.5em;
}

@media only screen and (min-width: 20rem) {
  .intro header h1 {
    -webkit-text-stroke: 1px #03a9f4;
  }
  .sidebar, .sidebar h3 {
    text-align: right;
  }
  .intro, .supporting, .sidebar {
    padding: 1em 2em 1em 2em;
  }
  .wrapper {
    text-align: right;
  }
  .page-wrapper {
    display: block;
    padding: 2em 0;
  }
  h3 {
    padding: 1em;
    text-align: center;
  }
  .main footer a {
    font-weight: 100;
    padding: 10px;
    font-size: 10px;
    margin: 2px 6px;
    border-radius: 50%;
    border: solid 1px #2f5f63;
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
  }
  footer::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/crab_PNG27.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 152px;
    left: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation: swing ease-in-out 1s infinite alternate;
            animation: swing ease-in-out 1s infinite alternate;
    -webkit-transform-origin: center -20px;
            transform-origin: center -20px;
    margin-top: 18em;
    margin-left: 1.5em;
  }
  @-webkit-keyframes swing {
    0% {
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
    100% {
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
    }
  }
  @keyframes swing {
    0% {
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
    100% {
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
    }
  }
}

@media only screen and (min-width: 40rem) {
  .main footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5em;
  }
  .main footer a {
    font-weight: bold;
    background-color: #03a9f4;
    color: #FFFFFF;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 8px;
    background: -webkit-gradient(linear, left bottom, left top, from(#03a9f4), to(#2f5f63));
    background: linear-gradient(to top, #03a9f4, #2f5f63);
    border-radius: 50%;
    border: solid 1px #2f5f63;
    -webkit-box-shadow: 4px 4px 0 #1b383b;
            box-shadow: 4px 4px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    width: 80px;
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
  }
  .main footer a:hover {
    color: #D44013;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .main footer a:focus,
  a:active {
    color: #013E75;
  }
  .intro header h1 {
    -webkit-text-stroke: 2px #03a9f4;
  }
  body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/darker-ocean.jpg) no-repeat center fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/darker-ocean.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    color: white;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
  }
  .sidebar h3 {
    text-align: left;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (350px)[2];
        grid-template-columns: repeat(2, 350px);
    -ms-grid-rows: auto auto 25%;
        grid-template-rows: auto auto 25%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .sidebar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    font-size: 12px;
    padding-left: 7em;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 300px 300px 50px;
        grid-template-columns: 50px 300px 300px 50px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .design-selection {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .design-archives {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .zen-resources {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .supporting {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .explanation p:nth-child(2)::after {
    background-image: url(images/fish-11861.png);
    background-repeat: no-repeat;
    content: "";
    float: left;
    shape-outside: circle(31% at 45%);
    margin: 15px;
    width: 500px;
    height: 300px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    z-index: 1;
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
  }
  .explanation p:nth-child(2):hover::after {
    background-image: url(images/hawaiian-fish.png);
    z-index: 2;
    width: 500px;
    height: 300px;
    shape-outside: circle(31% at 45%);
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
  }
  .participation p:nth-child(2)::after {
    background-image: url(images/fish-11908.png);
    background-repeat: no-repeat;
    content: "";
    float: right;
    shape-outside: circle(38% at 50%);
    margin: 15px;
    width: 400px;
    height: 290px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
  }
  .participation p:nth-child(2):hover::after {
    background-image: url(images/fishes.png);
    background-repeat: no-repeat;
    content: "";
    float: right;
    shape-outside: circle(38% at 50%);
    margin: 15px;
    width: 400px;
    height: 290px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
  }
  .requirements p:nth-child(2)::after {
    background-image: url(images/goldfish.png);
    background-repeat: no-repeat;
    content: "";
    float: left;
    shape-outside: circle(30% at 55%);
    margin: 15px;
    width: 500px;
    height: 500px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
  }
  .requirements p:nth-child(2):hover::after {
    background-image: url(images/golfish2.png);
    background-repeat: no-repeat;
    content: "";
    float: left;
    shape-outside: circle(30% at 55%);
    margin: 15px;
    width: 500px;
    height: 300px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
  }
  footer::after {
    display: none;
  }
}

@media only screen and (min-width: 61rem) {
  body::after {
    content: "";
    position: fixed;
    background-image: url("images/yellow-fish.png");
    background-repeat: no-repeat;
    z-index: -3;
    width: 300px;
    height: 200px;
    top: 150px;
    left: 0;
    -webkit-animation: slide-fish 8s forwards infinite;
            animation: slide-fish 8s forwards infinite;
    overflow: hidden;
  }
  .extra2 {
    background-image: url("images/blue-fish.png");
    background-repeat: no-repeat;
    z-index: 3;
    position: fixed;
    animation: slide-fish 10s reverse infinite;
    width: 200px;
    height: 200px;
    left: -100px;
    top: 300px;
    overflow: hidden;
  }
  .extra5::before {
    content: "";
    background-image: url("images/threadonly.png");
    background-repeat: no-repeat;
    position: fixed;
    -webkit-animation: MoveUpDownHook 15s linear;
            animation: MoveUpDownHook 15s linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    width: 200px;
    height: 2000px;
    left: 85%;
    margin-top: -1000px;
    z-index: -1;
  }
  @-webkit-keyframes MoveUpDownHook {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      display: none;
    }
    /*
    0% {
      margin-top:0px;
    }

    99% {
      margin-top: 500px;
    }

    100%{
      opacity:0;
      margin-top:0px;}*/
  }
  @keyframes MoveUpDownHook {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      display: none;
    }
    /*
    0% {
      margin-top:0px;
    }

    99% {
      margin-top: 500px;
    }

    100%{
      opacity:0;
      margin-top:0px;}*/
  }
  .extra5 {
    background-image: url("images/boot.png");
    background-repeat: no-repeat;
    position: fixed;
    -webkit-animation: MoveUpDown 15s linear;
            animation: MoveUpDown 15s linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    width: 200px;
    height: 2000px;
    left: 85%;
    bottom: 0;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    z-index: 1;
  }
  @-webkit-keyframes MoveUpDown {
    0% {
      bottom: -1000px;
    }
    50% {
      bottom: -180px;
    }
    100% {
      bottom: -1000px;
    }
  }
  @keyframes MoveUpDown {
    0% {
      bottom: -1000px;
    }
    50% {
      bottom: -180px;
    }
    100% {
      bottom: -1000px;
    }
  }
  @-webkit-keyframes slide-fish {
    0% {
      left: -400px;
    }
    25% {
      left: 400px;
    }
    50% {
      left: 800px;
    }
    100% {
      left: 2000px;
    }
  }
  @keyframes slide-fish {
    0% {
      left: -400px;
    }
    25% {
      left: 400px;
    }
    50% {
      left: 800px;
    }
    100% {
      left: 2000px;
    }
  }
  .extra4 {
    background-image: url("images/bubbles.png");
    background-repeat: no-repeat;
    z-index: 1;
    position: fixed;
    -webkit-animation: animatebubble 25s linear infinite;
            animation: animatebubble 25s linear infinite;
    width: 500px;
    height: 500px;
  }
  @-webkit-keyframes animatebubble {
    0% {
      margin-top: 100%;
    }
    100% {
      margin-top: -300%;
    }
  }
  @keyframes animatebubble {
    0% {
      margin-top: 100%;
    }
    100% {
      margin-top: -300%;
    }
  }
  /*
  .design-selection::after {
    content: "";
    position: fixed;
    background-image: url("images/crab_PNG27.png");
    background-repeat: no-repeat;
    z-index: -5;
    width: 180px;
    height: 152px;
    bottom:-350px;
    right:100px;
    animation: animatecrab 10s ease-in 2;
    overflow: hidden;
    animation-delay: 4s;
  }


  @keyframes animatecrab {
    0% {
      bottom: -350px;
    }

    50%{
      bottom:100px;
    }

    100% {
      bottom:-350px;
    }
  }

*/
  .extra6 {
    width: 500px;
    height: 500px;
    opacity: 0.2;
    background-image: url("images/bubbles.svg");
    background-repeat: no-repeat;
    -webkit-animation: animatebubble 25s linear infinite;
            animation: animatebubble 25s linear infinite;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  /*
   .extra6::before{
      display: block;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100' width='100'><circle cx='50' cy='50' r='40' stroke='WhiteSmoke' stroke-width='1' fill='none' /></svg>");
      //background-image:url("<svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none"> <path d="M756 2599 c-60 -14 -153 -68 -192 -111 -20 -22 -33 -42 -31 -45 3 -2 25 16 48 42 24 26 65 58 91 71 65 33 172 50 226 37 23 -6 42 -7 42 -3 0 19 -115 25 -184 9z"></path> <path d="M980 2575 c0 -2 17 -12 38 -22 53 -25 128 -103 154 -160 18 -39 22 -67 23 -148 0 -86 -3 -107 -24 -148 -32 -66 -100 -130 -174 -167 -34 -17 -51 -28 -37 -24 166 45 284 235 250 402 -13 63 -47 132 -88 179 -37 43 -142 108 -142 88z"></path> <path d="M497 2383 c-33 -74 -31 -209 6 -284 45 -93 135 -170 227 -194 14 -3 -7 10 -47 30 -81 40 -132 92 -171 175 -35 73 -36 188 -4 268 27 65 19 69 -11 5z"></path> <path d="M1775 2371 c-44 -27 -63 -52 -73 -97 -21 -94 42 -174 137 -176 81 -1 141 59 141 143 0 109 -118 184 -205 130z m132 -17 c35 -22 63 -74 63 -114 0 -74 -61 -130 -141 -130 -35 0 -48 6 -80 39 -35 34 -39 44 -39 88 0 112 107 176 197 117z"></path> <path d="M2466 2176 c18 -8 37 -22 43 -33 6 -10 11 -13 11 -6 0 16 -49 53 -69 53 -9 -1 -2 -7 15 -14z"></path> <path d="M2359 2153 c-13 -16 -12 -17 4 -4 9 7 17 15 17 17 0 8 -8 3 -21 -13z"></path> <path d="M2336 2113 c-6 -14 -5 -15 5 -6 7 7 10 15 7 18 -3 3 -9 -2 -12 -12z"></path> <path d="M2522 2090 c0 -19 2 -27 5 -17 2 9 2 25 0 35 -3 9 -5 1 -5 -18z"></path> <path d="M2340 2063 c0 -6 9 -21 21 -34 l20 -24 -17 30 c-24 39 -24 40 -24 28z"></path> <path d="M2487 2025 c-15 -14 -24 -25 -19 -25 5 0 19 11 32 25 30 32 23 32 -13 0z"></path> <path d="M803 1893 c26 -2 67 -2 90 0 23 2 2 3 -48 3 -49 0 -68 -1 -42 -3z"></path> <path d="M2080 1650 c-111 -21 -185 -121 -166 -224 10 -55 77 -123 139 -141 26 -8 47 -10 47 -5 0 6 -10 10 -22 10 -38 0 -106 48 -134 96 -33 55 -29 115 9 173 70 106 255 108 335 3 23 -30 27 -45 27 -97 0 -52 -5 -68 -28 -99 -27 -35 -64 -60 -117 -78 -20 -6 -18 -7 10 -3 81 12 150 92 150 175 0 123 -120 214 -250 190z"></path> <path d="M550 1240 c-216 -101 -183 -391 50 -441 102 -22 212 25 264 114 65 110 33 237 -77 309 -65 42 -168 50 -237 18z m169 0 c204 -58 224 -326 31 -413 -116 -52 -254 -5 -312 107 -30 59 -23 156 17 216 54 80 166 118 264 90z"></path> <path d="M1222 1205 c-21 -9 -38 -27 -48 -51 -43 -103 84 -188 157 -106 39 43 39 91 2 131 -34 37 -68 45 -111 26z m103 -31 c52 -56 17 -145 -58 -147 -79 -2 -120 91 -66 149 32 34 91 33 124 -2z"></path> </g> </svg>");
      //background-size: 28px 28px;
      //height: 28px;
      //width: 28px;
      animation: animatebubblesvg 35s linear infinite;
   }

   @keyframes animatebubblesvg {
    0% {
      margin-top: 100%;
    }

    100% {
      margin-top: -300%;
    }
  }*/
  .intro header h1 {
    -webkit-text-stroke: 2px #013E75;
  }
  body {
    padding: 5px;
    max-width: 80rem;
    position: relative;
  }
  body {
    background: url(images/darker-ocean.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: white;
    position: fixed;
  }
  .sidebar {
    padding-left: 0px;
  }
  h3 {
    padding: 0px;
  }
  .intro header h1 {
    font-size: 6em;
  }
  .intro header h2 {
    font-size: 2em;
    color: #01315c;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 25% 50% 25%;
        grid-template-columns: 25% 50% 25%;
    -ms-grid-rows: 200px (auto)[9];
        grid-template-rows: 200px repeat(9, auto);
  }
  /*
  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: auto auto 25%;
    align-items: start;
    justify-content: center;
  }*/
  footer {
    position: fixed;
    top: 550px;
    left: 950px;
    z-index: 500;
  }
  .main footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main footer a {
    background-color: #03a9f4;
    color: #FFFFFF;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    background: -webkit-gradient(linear, left bottom, left top, from(#03a9f4), to(#2f5f63));
    background: linear-gradient(to top, #03a9f4, #2f5f63);
    border-radius: 50%;
    border: solid 1px #2f5f63;
    -webkit-box-shadow: 4px 4px 0 #1b383b;
            box-shadow: 4px 4px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    width: 60px;
  }
  .main footer a:hover {
    color: #D44013;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
  }
  .main footer a:focus,
  a:active {
    color: #013E75;
  }
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 10;
    grid-row: 1 / 11;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 75%;
        grid-template-columns: 25% 75%;
    -ms-grid-rows: 200px (auto)[9];
        grid-template-rows: 200px repeat(9, auto);
    margin-left: 1em;
  }
  .summary,
  .preamble {
    font-size: smaller;
    margin: 0 .5em;
  }
  .intro header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .summary {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    padding-right: 2em;
  }
  .summary p:first-child {
    margin-top: 0;
  }
  .preamble {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  /*.supporting {
    grid-column: 2 / 3;
    grid-row: 1 / 10;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 370px auto;
  }*/
  .supporting {
    position: relative;
  }
  .explanation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .participation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .benefits {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .requirements {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  aside.sidebar {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 10;
    grid-row: 1 / 11;
    margin-top: 15em;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1.5fr 0.7fr 1fr;
        grid-template-rows: 1.5fr 0.7fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    font-size: smaller;
    line-height: 1.4;
  }
  .design-selection {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .design-archives {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .zen-resources {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .summary,
  .preamble,
  .sidebar {
    font-size: small;
  }
  .page-wrapper::before {
    content: "";
    position: absolute;
    background-image: url("images/new-tv.png");
    background-repeat: no-repeat;
    z-index: 3;
    top: 210px;
    left: 25%;
    width: 670px;
    height: 567px;
  }
  .supporting {
    position: absolute;
    left: 28%;
    top: 70px;
    width: 500px;
    z-index: 1;
    height: 330px;
    padding-left: 25px;
    overflow: hidden;
    margin-top: 10em;
  }
  .supporting div {
    color: #01315c;
    padding: 10px 50px 10px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .supporting div:last-of-type {
    padding-bottom: 50px;
  }
  .supporting div:first-of-type {
    padding-top: 30px;
  }
  .explanation {
    background: #5eb2fe;
    animation: zchange 30s ease-in-out reverse infinite;
  }
  .participation {
    background: #99CEDC;
  }
  .participation h3,
  .benefits h3 {
    color: #01315c;
    padding-top: .5em;
    margin: .5em;
  }
  .requirements h3,
  .explanation h3 {
    padding-top: .5em;
    margin: .5em;
  }
  .benefits {
    background: #f07853;
  }
  .requirements {
    background: #E1B923;
  }
  .requirements h3 {
    color: #01315c;
  }
  .requirements a,
  .participation a {
    color: #bd3911;
  }
  @-webkit-keyframes zchange {
    0% {
      margin-top: -2040px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @keyframes zchange {
    0% {
      margin-top: -2040px;
    }
    100% {
      margin-top: 0px;
    }
  }
  /*
  @keyframes animatebubble {
    0% {
      margin-top: 0%;
    }

    100% {
      margin-top: -150%;
    }
  }
*/
  .explanation p:nth-child(2)::after {
    display: none;
  }
  .participation p:nth-child(2)::after {
    display: none;
  }
  .requirements p:nth-child(2)::after {
    display: none;
  }
}

/*end of media query */
li {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */