@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;700;900&display=swap");
a {
  cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat710.cur), auto !important;
}

a:link,
a:visited {
  color: #e1b923;
  text-decoration: none;
}

a:hover {
  color: #d44013;
  border: 1px dotted #99cedc;
}

a:focus,
a:active {
  color: #fff;
  background-color: #d44013;
  text-decoration: underline;
}

h3 {
  color: #e1b923;
  animation: myh3 5s ease-in-out infinite;
}

@keyframes myh3 {
  0% {
    color: #e1b923;
  }
  50% {
    color: #d44013;
  }
  100% {
    color: #e1b923;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  color: #e1b923;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
}

h3 {
  font-size: 1.25em;
}

.intro header h1 {
  margin: -0.1em;
  color: #e1b923;
  text-transform: uppercase;
  background: linear-gradient(90deg, #e1b923, #fff, #e1b923);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px #01315c;
}

.intro header h1, .intro header h2 {
  text-align: center;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

footer {
  justify-content: center;
  display: flex;
  margin-top: 1.5em;
}
footer a {
  font-weight: 100;
  background-color: #03a9f4;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 2px 6px;
  background: linear-gradient(to top, #03a9f4, #2f5f63);
  border-radius: 50%;
  border: solid 1px #2f5f63;
  box-shadow: 4px 4px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  width: 80px;
  transition: 1s ease-in;
}
footer a:hover {
  color: #D44013;
  transform: scale(1.3);
}
footer a:focus, footer a:active {
  color: #013E75;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/darker-ocean.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  color: #fff;
}

.sidebar {
  font-size: 12px;
}

.intro header h1,
.intro header h2 {
  text-align: center;
}

p {
  line-height: 140%;
}

.summary p:first-child {
  margin-top: 1.5em;
}

.wrapper {
  text-align: center;
}
.wrapper li {
  list-style-type: none;
}
.wrapper ul {
  margin-top: 0.5em;
}

@media only screen and (min-width: 20rem) {
  .intro header h1 {
    -webkit-text-stroke: 1px #03a9f4;
  }

  .sidebar,
.sidebar h3 {
    text-align: right;
  }

  .intro,
.supporting,
.sidebar {
    padding: 1em 2em;
  }

  .wrapper {
    text-align: right;
  }

  .page-wrapper {
    display: block;
    padding: 2em 0;
  }

  h3 {
    padding: 1em;
    text-align: center;
  }

  footer::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/crab_PNG27.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 152px;
    left: 15px;
    transform: rotate(45deg);
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    margin-top: 18em;
    margin-left: 1.5em;
  }

  @keyframes swing {
    0% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }
}
@media only screen and (min-width: 50rem) {
  .intro header h1 {
    -webkit-text-stroke: 2px #03a9f4;
  }

  body {
    margin: 0 auto;
  }

  .sidebar h3 {
    text-align: left;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: auto auto 25%;
    align-items: start;
    justify-content: center;
  }

  .intro {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .sidebar {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 12px;
    padding-left: 7em;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50px 300px 300px 50px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: left;
  }

  .design-selection {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .design-archives {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .zen-resources {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .supporting {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .explanation p:nth-child(2)::after {
    background-image: url(images/fish-11861.png);
    background-repeat: no-repeat;
    content: "";
    float: left;
    shape-outside: circle(31% at 45%);
    margin: 15px;
    width: 500px;
    height: 300px;
    transform: scale(0.7);
    z-index: 1;
    transition: ease-in-out 2s;
  }
  .explanation p:nth-child(2):hover::after {
    background-image: url(images/hawaiian-fish.png);
    z-index: 2;
  }

  .participation p:nth-child(2)::after {
    background-image: url(images/fish-11908.png);
    background-repeat: no-repeat;
    content: "";
    float: right;
    shape-outside: circle(38% at 50%);
    margin: 15px;
    width: 400px;
    height: 290px;
    transform: scale(0.7);
    transition: ease-in-out 2s;
  }
  .participation p:nth-child(2):hover::after {
    background-image: url(images/fishes.png);
  }

  .requirements p:nth-child(2)::after {
    background-image: url(images/goldfish.png);
    background-repeat: no-repeat;
    content: "";
    float: left;
    shape-outside: circle(30% at 55%);
    margin: 15px;
    width: 500px;
    height: 500px;
    transform: scale(0.6);
    transition: ease-in-out 2s;
  }
  .requirements p:nth-child(2):hover::after {
    background-image: url(images/golfish2.png);
    transform: scale(0.7);
  }

  footer a {
    font-weight: bold;
    padding: 12px;
    font-size: 15px;
    margin: 4px 8px;
  }

  footer::after {
    display: none;
  }
}
/* end media query */
@media only screen and (min-width: 61rem) {
  body::after {
    content: "";
    position: fixed;
    background-image: url("images/yellow-fish.png");
    background-repeat: no-repeat;
    z-index: -3;
    width: 300px;
    height: 200px;
    top: 150px;
    left: 0;
    animation: slide-fish 8s forwards infinite;
    overflow: hidden;
  }

  .extra2 {
    background-image: url("images/blue-fish.png");
    background-repeat: no-repeat;
    z-index: 3;
    position: fixed;
    animation: slide-fish 10s reverse infinite;
    width: 200px;
    height: 200px;
    left: -100px;
    top: 300px;
    overflow: hidden;
  }

  @keyframes slide-fish {
    0% {
      left: -400px;
    }
    25% {
      left: 400px;
    }
    50% {
      left: 800px;
    }
    100% {
      left: 2000px;
    }
  }
  .extra4 {
    position: absolute;
    background-image: url("images/bubbles.png");
    background-repeat: no-repeat;
    z-index: -5;
    animation: animatebubble 5s linear reverse infinite;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 100px;
  }

  .extra6 {
    position: absolute;
    top: 0px;
    left: 650px;
    width: 500px;
    height: 500px;
    opacity: 0.2;
    background-image: url("images/bubbles.svg");
    background-repeat: no-repeat;
    animation: animatebubble 3s linear reverse infinite;
    transform: scale(0.9);
    z-index: -3;
  }

  @keyframes animatebubble {
    0% {
      top: 0px;
      opacity: 0.6;
    }
    100% {
      top: 300px;
      opacity: 0;
    }
  }
  .intro header h1 {
    -webkit-text-stroke: 2px #013e75;
  }

  .intro h2 abbr {
    animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.61, 0.355, 1) both, flicker-1 10s linear infinite both;
    color: #d44013;
  }

  @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes flicker-1 {
    0%, 100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  @keyframes flicker-1 {
    0%, 100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  body, html {
    height: 100%;
  }

  body {
    padding: 5px;
    max-width: 80rem;
    position: relative;
    background: url(images/darker-ocean.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
  }

  h3 {
    padding: 0px;
  }

  .page-wrapper {
    height: 100%;
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 200px repeat(9, auto);
  }
  .page-wrapper::before {
    content: "";
    position: absolute;
    background-image: url("images/new-tv.png");
    background-repeat: no-repeat;
    z-index: 3;
    top: 216px;
    left: 17%;
    width: 650px;
    height: 567px;
    transform: scale(0.8);
  }

  .intro {
    grid-column: 1/4;
    grid-row: 1/11;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 200px repeat(9, auto);
    margin-left: 1em;
  }
  .intro header {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .intro header h1 {
    font-size: 6em;
  }
  .intro header h2 {
    font-size: 2em;
    color: #01315c;
  }

  .summary,
.preamble {
    font-size: 12.5px;
    margin: 0 0.5em;
  }

  .summary {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .summary p:first-child {
    margin-top: 0;
  }

  .preamble {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .preamble h3 {
    padding: 5px;
  }

  .supporting {
    position: absolute;
    left: 26%;
    top: 130px;
    width: 425px;
    z-index: 1;
    height: 280px;
    padding-left: 25px;
    overflow: hidden;
    margin-top: 10em;
  }
  .supporting h3 {
    padding-top: 0.5em;
    margin: 0.5em;
  }
  .supporting div {
    color: #01315c;
    padding: 10px 50px;
  }
  .supporting div:first-of-type {
    padding-top: 30px;
  }
  .supporting div:last-of-type {
    padding-bottom: 50px;
  }

  .explanation {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #5eb2fe;
    animation: zchange 60s ease-in-out infinite;
  }
  .explanation p:nth-child(2)::after {
    display: none;
  }

  @keyframes zchange {
    0% {
      margin-top: -15px;
    }
    50% {
      margin-top: -2070px;
    }
    100% {
      margin-top: -15px;
    }
  }
  .participation {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #99cedc;
  }
  .participation p:nth-child(2)::after {
    display: none;
  }

  .benefits {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #f07853;
  }

  footer {
    position: fixed;
    top: 550px;
    left: 71%;
    z-index: 1;
    transform: scale(0.7);
  }
  footer a {
    transition: 0.5s ease-in;
  }
  footer a:hover {
    color: #d44013;
    transform: scale(1.2);
  }

  .requirements {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #e1b923;
  }
  .requirements a,
.requirements .participation a {
    color: #bd3911;
  }
  .requirements p:nth-child(2)::after {
    display: none;
  }

  .participation h3,
.benefits h3,
.requirements h3 {
    color: #01315c;
  }

  .sidebar {
    grid-column: 3/4;
    grid-row: 1/11;
    margin-top: 15em;
    padding-left: 0;
    font-size: small;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 0.7fr 1fr;
    align-items: start;
    text-align: left;
    font-size: smaller;
    line-height: 1.4;
  }

  .design-selection {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .design-archives {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .zen-resources {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
/*end of media 61rem min*/
/* small tweaks in large view */
@media only screen and (min-width: 63.5rem) {
  .page-wrapper::before {
    left: 18%;
  }

  .supporting {
    left: 27%;
  }
}
@media only screen and (min-width: 66rem) {
  .page-wrapper::before {
    left: 20%;
  }

  .supporting {
    left: 28%;
  }
}
@media only screen and (min-width: 68.75rem) {
  .page-wrapper::before {
    transform: scale(0.9);
  }

  .supporting {
    top: 100px;
    height: 310px;
  }
}
@media only screen and (min-width: 70.625rem) {
  .page-wrapper::before {
    left: 21.5%;
  }

  .supporting {
    left: 28%;
  }
}
@media only screen and (min-width: 76.5rem) {
  .page-wrapper::before {
    transform: scale(1);
    left: 24%;
  }

  .supporting {
    top: 80px;
    height: 330px;
    width: 500px;
    left: 27.5%;
  }
}
@media only screen and (min-width: 100rem) {
  footer {
    left: 65%;
  }
}
li {
  list-style-type: none;
}

/*# sourceMappingURL=styles.css.map */
